
<div class="push"></div>
</div><!-- /.container -->
<!--for footer-->
<footer class="footer container-fluid bg-dark">
  <div class="row">
          <div class="col-md-12 text-center py-2 align-item mx-0">
           
            <p class="text-light">&copy; YelpCamp 2018 | <a href="/campgrounds">Home</a> | <a href="/campgrounds/new">New Campground</a></p>
          </div>
          </div>
</footer>


<!--bootstrap 4 & dependencies-->


<script type="text/javascript">
    // for delete alert
    function archiveFunction(event) {
      event.preventDefault(); // prevent form submit
      var form = event.target.form; // storing the form
      swal({
          title: "Are you sure you want to proceed?",
          text: "You will not be able to undo this action.",
          type: "warning",
          showCancelButton: true,
          confirmButtonColor: "#DD6B55",
          confirmButtonText: "Delete",
          cancelButtonText: "Cancel",
          closeOnConfirm: false,
          closeOnCancel: false
        },
        function (isConfirm) {
          if (isConfirm) {
            form.submit();          // submitting the form when user press yes
          } else {
            swal("Cancelled", "Your file has not been deleted.", "error");
          }
        });
    }
    

        $(".enter-code").click(function(){
            $(".show-admin-form").toggleClass();
        
        });



</script>




<script
  src="https://code.jquery.com/jquery-3.3.1.slim.js"
  integrity="sha256-fNXJFIlca05BIO2Y5zh1xrShK3ME+/lYZ0j+ChxX2DA="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


<body>

</html>    
    